.contact-section {
  background: url(../image/contact\ back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.contact-back {
  background: rgba(16, 42, 131, 0.6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 70px;
}
.contact-heading {
  font-weight: 400;
  font-style: Regular;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  max-width: 660px;
  width: 100%;
}
.contact-sub-heading {
  font-family: Poppins;
  font-weight: 300;
  font-style: Light;
  font-size: 40px;
  text-transform: uppercase;
  max-width: 800px;
  width: 100%;
  color: rgba(255, 255, 255, 1);
}

/*  Address Section */
/* .address-inner {
  padding: 100px 0px;
}
.address-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.address-img {
  max-width: 420px;
  width: 100%;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 1px solid rgba(16, 42, 131, 0.2);
  height: 400px;
  filter: brightness(0.5);
}

.address-main1 {
  position: relative;
  text-align: center;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 50px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
} */

.address-inner {
  padding: 100px 0px;
}
.address-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.address-back
{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(16, 42, 131, 0.5) 100%);
    max-width: 420px;
    width: 100%;
    height: 300px;
     border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 1px solid rgba(16, 42, 131, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

}
.address-img {
  max-width: 420px;
  width: 100%;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 1px solid rgba(16, 42, 131, 0.2);
  height: 400px;
  filter: brightness(0.5);
}

.address-main1 {
  position: relative;
  text-align: center;
  background-image: url(../image/address-img\ \(1\).png);
  max-width: 420px;
  
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
    border: 1px solid rgba(16, 42, 131, 0.2);
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
  
  
}
.address-main2 {

  background-image: url(../image/e-mail-img.png);
  
}
.address-link
{
  text-decoration: none;
}

.text {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-family: "Poppins";
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 50px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.text-p
{
    font-family: 'Poppins';
font-weight: 500;
font-style: Medium;
font-size: 22px;
color: rgba(255, 255, 255, 1);
line-height: 50px;
letter-spacing: 0%;
text-transform: uppercase;
max-width: 402px;

width: 100%;
    display: none;
}

.address-main1:hover .text
{
    display: none;
}
.address-main1:hover .text-p
{
    display: block;
}
#mymove-img:hover
{
     animation: animName 2s ease-in-out;
     animation-iteration-count: 1;
}
@keyframes animName {
 0%{
    transform: rotateX(0deg);
   }
100%{
    transform: rotateX(360deg);
   }
}

@media screen and (max-width:992px)

{
    .address-main
    {
            flex-wrap: wrap;
            gap: 50px;
    }
}
@media screen and (max-width:768px)

{
    .address-main
    {
        padding: 0px 10px;
    }
    .text
    {
            font-size: 48px;
    }
    .text-p
    {
        font-size: 18px;
    }

}
@media screen and (max-width:425px)

{
    .text
    {
            font-size: 40px;
    }
    .text-p
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
  .contact-heading {
    font-size: 60px;
  }
  .contact-sub-heading {
    font-size: 32px;
  }
  .address-img {
    max-width: 350px;
    width: 100%;
  }
  .text {
    font-size: 48px;
  }
  .drop-main {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .drop-right,
  .drop-img {
    max-width: 100%;
  }
  /* .see-btn-main
  {
    padding-top: 170px;
  } */
  .inputbox {
    max-width: 800px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .address-main {
    flex-direction: column;
    gap: 50px;
  }
  .address-img {
    max-width: 400px;
    width: 100%;
  }
  .contact-heading {
    font-size: 44px;
    line-height: 60px;
  }
  .contact-sub-heading {
    font-size: 26px;
  }
  .drop-inner {
    padding: 0px 20px 50px 20px;
  }
}
@media screen and (max-width: 425px) {
  .inputbox {
    font-size: 12px;
  }
  .drop-heading {
    font-size: 28px;
  }
  .drop-inner
  {
    padding: 0px 20px 50px 20px;
  }
  .see-all-btn {
    padding: 9px 18px;
    font-size: 14px;
  }
  .text {
    font-size: 36px;
  }
  .address-inner {
    padding: 50px 10px;
  }
  .address-main
  {
    gap: 30px;
  }
  .contact-heading {
    font-size: 28px;
    line-height: 40px;
  }
  .contact-sub-heading {
    font-size: 22px;
  }
  .contact-section ,.contact-back
  {
    height: auto;
    
  }
  .address-main1 
  {
    height: 214px;
  }
  .address-back 
  {
    height: 214px;
  }
  .contact-back
  {
    padding: 50px;
  }
}

