body
{
    font-family: 'Headland One';
}
.navbar ul li a:hover
{
  color: rgba(16, 42, 131, 1);
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 163, 44, 1);

}
.navbar ul li a:active
{
    color: rgba(227, 0, 22, 1);

}
button:hover
{
  background: rgba(16, 42, 131, 1);
  color: rgba(255,255,255,1);
  cursor: pointer;
}
.insect-text:hover ,.bio-pest-text:hover
{
    color: rgba(240, 124, 0, 1);

}
.fug-text:hover , .bio-stim-text:hover{
    color: rgba(0, 158, 224, 1);

}
.ferti-text:hover
{
   color: rgba(0, 163, 44, 1);
}
.weed-text:hover
{
    color: rgba(227, 0, 22, 1);

}


/*  Animation */
.feature-animation4{
  
  animation: fadeInRight4 2.5S ease-in-out;
  animation-iteration-count:1;
  animation-delay: 3s;
}

@keyframes fadeInRight4 {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  }
}
.feature-animation2{
  
  animation: fadeInRight2 3S ease-in-out;
  animation-iteration-count:1;
  animation-delay: 3s;
}

@keyframes fadeInRight2 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
  }
}
.feature-animation3{
  
  animation: fadeInRight3 2.5S ease-in-out;
  animation-iteration-count:1;
  animation-delay: 3s;
}

@keyframes fadeInRight3{
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
  }
}
.feature-animation1{
  
  animation: fadeInRight1 2.5S ease-in-out;
  animation-iteration-count:1;
  animation-delay: 3s;
}

@keyframes fadeInRight1 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

 
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.heading-anim {
  animation-name: fadeIn;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: forwards; 
  opacity: 0; 
}

#mymove:hover
{
     animation: animName 2s ease-in-out;
     animation-iteration-count: 1;
}
@keyframes animName {
 0%{
    transform: rotateY(0deg);
   }
100%{
    transform: rotateY(360deg);
   }
}
.address-animation
{
     animation: animName 2s ease-in-out;
     animation-iteration-count: 1;
}
@keyframes animName {
 0%{
    transform: rotateY(0deg);
   }
100%{
    transform: rotateY(360deg);
   }
}

/* CSS to define the animation */
@keyframes myAnimation {
  0% { transform: scale(1); } /* Start state */
  50% { transform: scale(1.2); } /* Mid-state */
  100% { transform: scale(1); } /* End state */
}

/* Apply the animation to the image */
.anim-img {
 
  animation-name: myAnimation;
  animation-duration: 3s; /* Animation takes 3 seconds */
  animation-iteration-count: infinite; /* Animation loops forever */
}


/* background heading animation */
.back-heading-animation{
  
  animation: fadeInRight1 2.5S ease-in-out;
  animation-iteration-count:infinite;
  animation-delay: 1s;
  animation-iteration-count:1;
}

@keyframes fadeInRight1 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}


/* back arrow of products */
.back-arrow
{
  color: rgba(16, 42, 131, 1);
  font-size: 25px;
  padding: 15px 20px 0px 20px;
}
.back-arrow:hover
{
  color: rgba(227, 0, 22, 1);
}
.back-arrow-link
{
  text-decoration: none;
  color: rgba(16, 42, 131, 1);
}